<% url_options = params.merge(:controller => controller, :action => :browse, :page => 1, :update => 1, :escape => false) -%>
<%= form_tag url_options, {:method => :get, :remote => true, :id => record_select_search_id}  -%>
  <%= text_field_tag 'search', params[:search], :autocomplete => 'off', :class => 'text-input' %>
  <%= submit_tag 'search', :class => "search_submit" %>
</form>

<script type="text/javascript">
//<![CDATA[
var i = $(<%= record_select_search_id.to_json.html_safe %>).down('input.text-input');
Form.Element.AfterActivity(i, function() {
    $(<%= record_select_search_id.to_json.html_safe -%>).down('input.search_submit').click();
}, 0.35);
//]]>
</script>